
@{
    ViewData["Title"] = "Add new Guitar";
}



@if (ViewData["Added"] == null)
{
    <h1>Add new Guitar</h1>

    <form method="post">
        <label>Brand</label>
        <input type="text" name="brand" />
        <br />

        <label>Style</label>
        <input type="text" name="style" />
        <br />

        <input type="submit" value="Add Guitar" />
    </form>

}
else
{
<p>Guitar Added!!</p>
}


